.App {
	text-align: center;
}

.App-header {
	background-color: #001f6b;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#password:hover {
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

#password:active {
	text-shadow: none;
	color: #4f69ac;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.alert {
	margin: 10px 0px;
	padding: 12px;
	border-radius: 5px;

	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.alert:hover {
	cursor: pointer;
}

.alert:before {
	padding-right: 12px;
}

.alert:after {
	content: '\f00d';
	font-family: 'FontAwesome';
	float: right;
	padding: 3px;
}

.alert:after:hover {
	cursor: pointer;
}

.alert-success {
	color: #001f6b;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
	display: none;
}